
<div class="clearfix margin-bottom-2rem">
  <h2 class="pull-left no-margin">Properties to rent in <span id="postcode"><%= query %><span></h2>
</div>

<div id="list-view">
<div class="clearfix margin-bottom-2rem">
  <a href="#" class="btn btn-primary pull-right" id="map-view-btn">Show on map</a>
</div>

<ul class="media-list">
  <% properties.forEach(property => { %>
    <div class="media">
      <div class="media-left media-middle">
        <a href="/properties/<%= property._id %>">
          <% if (!property.imageUrl) {%>
            <img class="property-image" src="../images/default.png">
          <%}else{%>
            <img class="property-image" src="<%= property.imageUrl %>">
          <%}%>
        </a>
      </div>
      <div class="media-body">
        <a href="/properties/<%= property._id %>"><h3 class="media-heading">&pound;<%= property.ppw %> <small>per week</small><br>
        <%= property.address %></h3></a>
        <h4><% if (property.bedrooms < 1) { %>
          Studio to rent
        <%} else{%>
          <%= property.bedrooms %> bed property to rent
        <% } %></h4>
        <p><%= (property.description).substring(0, 350)+'...' %></p>
      </div>
    </div>
  <% }); %>
</ul>
</div>
<div id="map-view" class="hide">
  <div class="clearfix margin-bottom-2rem">
    <a href="#" class="btn btn-primary pull-right" id="list-view-btn">List view</a>
  </div>
  <div id="map"></div>
</div>
