<h3>Properties</h3>

<div class="container">
  <ul class="row">
    <% properties.forEach(property => { %>
      <li class="col-md-3">
        <a href="/properties/<%= property._id %>">
        <img src="<%= property.imageUrl %>" alt="" class="crop-image">
        <li><%= property.address %></li>
        <li>Bedrooms: <%= property.bedrooms %></li>
        <li>Price/pw: £<%= property.ppw %></li>
        </a>
      </li>
    <% }); %>
  </ul>
</div>
